body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

/* Aplica la fuente Montserrat para los títulos */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Menú lateral a la derecha */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #033b70;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ff7b00;
    color: #ffffff;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 36px;
}

/* Botón de menú de hamburguesa */
.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

/* Contenido principal ajustado para el menú a la derecha */
#main-content {
    margin-right: 20px;
    transition: margin-right 0.5s;
    max-width: 1000px;
    padding: 40px;
    margin:0 auto;
}

.cv-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Sección de contacto */
.contact-info h2 {
    font-size: 20px;
    color: #033b70;
    border-bottom: 2px solid #ff7b00;
}

.contact-info p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.contact-info a {
    color: #ff7b00;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Sección de experiencia y educación */
.experience, .education {
    margin-bottom: 30px;
}

.experience h2, .education h2 {
    font-size: 20px;
    color: #033b70;
    border-bottom: 2px solid #ff7b00;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.experience-item, .education-item {
    margin-bottom: 16px;
}

h3 {
    font-size: 16px;
    color: #033b70;
    margin: 0 0 10px;
}

p {
    font-size: 14px;
    color: #333;
}

/* Sección de habilidades y idiomas */
.skills-languages {
    background-color: #033b70;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

h2 {
    color: #ff7b00;
}

li {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilo responsive */
@media (max-width: 768px) {
    .two-columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}
